---
layout: default
pagination: 
  enabled: true
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <br>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y %H:%m" }}</span>
        <hr id="line">
		<div class="content">
		{{ post.excerpt }}
        </div>
		<br>
      </li>
    {% endfor %}
  </ul>
  
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">« Previous</a>
    {% endif %}
    
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next »</a>
    {% endif %}
  </div>
  {% endif %}
</div>
