---
layout: default
title: Xiao Hui's blog
---

<div id="home">
  <div>
    {% for tag in site.tags %}
      <em><a href="#{{tag | first}}">{{tag | first}}</a></em>
    {% endfor %}
  </div>
  <hr/>
  <ul class="posts">
    {% for tag in site.tags %}
      <li><a name="{{tag | first}}"></a>{{tag | first}} ({{tag | last | size}})</li>
      {% for post in tag.last %}
        <p><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{post.url}}">{{post.title}}</a></p>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
