<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" media="screen" href="/css/stylesheet.css">

    </head>
    <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/hokix">About Me</a>
            <h1 id="project_title">{{ site.name }}</h1>
            <h2 id="project_tagline">I suppose I should write something smart here.</h2>
            <section>
                <a href="/">home</a>
            </section>
        </header>
    </div>

    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>

    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p class="copyright">Author: <a href="https://github.com/hokix">Xiao Hui</a></p>
            <p>hokix@live.com</p>
        </footer>
    </div>

    </body>
</html>
